.wrapper{
  color: white;
  font-size: 40px;
  text-align: center;
  height: 500px;
  box-sizing: border-box;
  border: 5px solid red;
  padding: 10px;
  background-color: dodgerblue;

  /* overflow: auto; */
  overflow-y: scroll;
}

.inner{
  border: 5px solid green;
  background-color: blueviolet;
}