* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

.full-screen {
  box-sizing: border-box;

  color: #926239;
  text-align: center;

  min-height: 100vh;

  background-color: white;
  background-image: url('http://traversymedia.com/downloads/assets/beachshowcase.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heading {
  margin: 0;
  padding-top: 33vh;
  font-size: 50px;
  text-transform: capitalize;
}
.subheading {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn {
display: inline-block;

  text-transform: capitalize;

  margin-top: 25px;
  padding: 12px 20px;
  border: 1px solid #926239;
  color: inherit;
  border-radius: 8px;
  text-decoration: none;
}

main{
  font-size: 1.1em;
}

.text{
  text-align: center;
  padding: 20px;
  line-height: 1.5em;
  color: #926239;
}

.inline-block {
  color: #926239;
  display: inline-block;
  padding: 20px;
  width: 33.3333%;
}

.bg-brown {
  color: white;
  background-color: #926239;
}
